# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Data & models (large files — use W&B artifacts or DVC instead)
data/
models/*.pt
models/*.pth

# W&B local cache
/src/wandb/
/src/wandb/
/src/artifacts/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.env

# Claude
*.claude/
